{% include "header.html" %}

<form id="auth-form" method="POST" action="{{ args.public_path_as_str() }}/{{path}}/{{id}}" enctype="multipart/form-data">
  {% if status == "success" %}
  <b>创建成功，请输入密码查看。</b><br>
  {% endif %}

  <label for="password-field" style="margin-bottom: 0.5rem;">
    请输入密码以访问或修改该分享。
    <sup><a href="{{ args.public_path_as_str() }}/guide#encryption">?</a></sup>
  </label>

  {% if encrypt_client %}
  <input id="password-field" required placeholder="密码" type="password" autocomplete="off">
  <input id="password-hidden" name="password" type="hidden">
  {% else %}
  <input id="password-field" required placeholder="密码" name="password" type="password" autocomplete="off" />
  {% endif %}

  <button>确认</button>

  {% if status == "incorrect" %}
  <b>密码不正确。</b>
  {% endif %}
</form>

{% if encrypt_client %}
<script>
  const form = document.getElementById("auth-form");
  const passwordField = document.getElementById("password-field");
  const passwordHiddenField = document.getElementById("password-hidden");

  form.onsubmit = function () {
    if (passwordField.value.trim() == "") {
      passwordField.focus();
      return false;
    }

    const key = decryptWithPassword(passwordField.value, "{{ encrypted_key }}");
    if (key) {
      passwordHiddenField.value = key;
    }
  };

  function decryptWithPassword(password, encryptedHex) {
    const passwordBytes = aesjs.utils.utf8.toBytes(password.padStart(32, "#"));
    const encryptedBytes = aesjs.utils.hex.toBytes(encryptedHex);
    const aesCtr = new aesjs.ModeOfOperation.ctr(passwordBytes);
    const decryptedBytes = aesCtr.decrypt(encryptedBytes);
    const res = aesjs.utils.utf8.fromBytes(decryptedBytes);

    if (res.endsWith("!0K")) {
      return res.substring(0, res.length - "!0K".length);
    }
    return null;
  }
</script>
{% else %}
<script>
  const form = document.getElementById("auth-form");
  const passwordField = document.getElementById("password-field");

  form.onsubmit = function () {
    if (passwordField.value.trim() == "") {
      passwordField.focus();
      return false;
    }
  };
</script>
{% endif %}

{% if !args.pure_html %}
<style>
  #auth-form {
    background-color: var(--background-alt);
    border-radius: 6px;
    padding: 10px;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
{% endif %}

{% include "footer.html" %}
